.hideTabCover{
    position: fixed;
    z-index: 10000;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
    background: #2b2b2b;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
}